.App {
  margin-left: 20%;
  margin-right: 20%;
}

Accordion {
  overflow: visible;
}

.fc-event {
  cursor: pointer;
}


.fc-today {
  background: #FFF !important;
  border: none !important;
  border-top: 1px solid #ddd !important;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.info {
  margin-top: 5%;
}

.pinfo {
  text-align: left;
}

#calendarphoto {
  width: 80%;
  margin-top: -2%;
} 

#ProgressBar {
  margin-top: 50px;
}

Button {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
